body {
	background-color: #D7EAEF;
}
table, th , td  {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}
table tr:nth-child(odd)	{
	background-color: #f1f1f1;
}
table tr:nth-child(even) {
	background-color: #ffffff;
}
.editdiv{
	width:100%;
	height: auto;
	margin-top: 40px;
}
#addsubmit,#editsubmit{
	margin-right: 22%;
    margin-left: 10px;
}
.cancel{
	border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
}
#addEmployee{
	margin-right: 20px;
	background-color: #8EB3BD;
    font-size: 16px;
    padding: 5px;
}
#backToIndex{
	margin-right: 50px;
}
.welcome{
	margin-top: 20%;
    color: red;
    height: 150px;
    width: 300px;
    background-color: white;
    padding: 40px;
    vertical-align: middle;
}
.edit{
	padding: 5px;
    background-color: #BFC4C5;
    width: 70px;
}