body {
	background-color: #D7EAEF;
}
table, th , td  {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}
table tr:nth-child(odd)	{
	background-color: #f1f1f1;
}
table tr:nth-child(even) {
	background-color: #ffffff;
}
.editdiv,.rowEdit{
	width: 40%;
    height: auto;
    float: left;
    margin-right: 5%;
    margin-left: 3%;
}
#addsubmit,#editsubmit{
	margin-right: 22%;
    margin-left: 10px;
}
.cancel{
	border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
}

.addEmployeeWithoutForm{
	background-color: #8EB3BD;
    font-size: 16px;
    padding: 5px;
    margin-left: 23%;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.addEmployeeWithForm{
	background-color: #8EB3BD;
    font-size: 16px;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
}
#backToIndex{
	margin-right: 50px;
}
.welcome{
	margin-top: 18%;
    color: red;
    height: 150px;
    width: 300px;
    background-color: white;
    padding: 40px;
    vertical-align: middle;
}
.trainingDemos{
    margin-top: 15%;
    color: black;
    height: auto;
    width: 300px;
    background-color: #d9edf7;
    padding: 40px;
    vertical-align: middle;
    float: left;
    margin-left: 5%;
    text-align: left;
}
.edit{
	padding: 5px;
    background-color: #BFC4C5;
    width: 70px;
}

header{
	height: 90px;
    background-color: #44AEBF;
    font-size: 28px;
    color: white;
    padding: 20px 0 20px 29px;
    width: 100%;
    top: 0 !important;
    position: fixed;
    z-index: 999;

}
 footer{
 	height: 50px;
 	width: 100%;
    background-color: #5D6365;
    font-size: 14px;
    color: white;
    bottom: 0 !important;
    position: fixed;
    padding: 20px 0 20px 20px;
    z-index: 999;
 }
 .inLeft{
 	width: 40%;
    height: auto;
    float: left;
    margin-left: 12%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
 }
 .inCenter{
 	width: auto;
 	height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
 }
.appContainer{
    margin-top: 50px;

}
.responseTimediv{
    width: auto;
    height: auto;
    margin-top: 20px;
}
.outerContainer{
    padding-top: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    min-height: 547px !important;
    z-index: 99;
    min-width: 1000px;
}
aside{
    height: 100%;
    width: 18%;
    background-color: #80B5C1;
    color: black;
    display: block;
    font-size: 18px;
    padding: 200px 50px;
    float: left;
    min-height: 710px;
}
.sidebarMenu{
    float: left;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.contentArea{
    width: 82%;
    float: left;
    height: 100%;
    min-height: 710px;
}
a{
    cursor: pointer;
}
.compileContainer{
    width: 400px;
    margin-top: 250px;
    padding: 30px;
    background-color: white;
}
.compileInput{
    margin-bottom: 20px;
    padding: 10px;
    width: 194px;
}