
  <div align="center">  
       <div class="welcome">
          <h1>Welcome...</h1> 
        <!--   <a href="views/employeeEdit.html">Click to Add and Edit Employees</a> -->
       </div>
       <div class="trainingDemos">
         <h4>Demos for Employee Trainings</h4>
         <a href="views/ProviderCreation.html">Provider and Service Creation</a><br/>
         <h5>Some Providers</h5>
         <a href="views/AnchorScroll.html">1. $anchorScrollProvider</a><br/>
         <a href="views/AnimateProvider.html">2. $animateProvider</a><br/>
         <a href="views/CompileProvider.html">3. $compileProvider</a>

       </div>

  </div>

  <style type="text/css">
      .welcome{
        margin-top: 15%;
      }

  </style>
 