<!-- <!DOCTYPE html>
<html>
<head>
	<title>Static Table</title>	
   <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery-2.2.0.min.js"></script>
   <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/Controllers/appController.js"></script>
</head>
<body>
<header>AngularJS Application</header> -->
  <div align="center">  
       <div class="welcome">
          <h1>Welcome...</h1> 
        <!--   <a href="views/employeeEdit.html">Click to Add and Edit Employees</a> -->
       </div>
       <div class="trainingDemos">
         <h4>Demos for Employee Trainings</h4>
         <a href="views/AnchorScroll.html">1. $anchorScrollProvider</a>
         <a href="views/AnimateProvider.html">2. $animateProvider</a>

       </div>

  </div>

  <style type="text/css">
      .welcome{
        margin-top: 15%;
      }

  </style>
 <!--  <footer>@Qburst_On_25-01-2016</footer>
</body>
</html> -->