
  <div align="center">  
      <!--  <div class="welcome">
          <h1>Welcome...</h1> 
          <a href="views/employeeEdit.html">Click to Add and Edit Employees</a>
       </div> -->
     <div style="width:100%;" align="center">
       <div class="trainingDemos">
         <h3>AngularJS Providers</h3>
            1. $anchorScrollProvider<br/>
            2. $animateProvider<br/>
            3. $compileProvider<br/>
            4. $controllerProvider<br/>
            5. $filterProvider<br/>
            6. $httpProvider<br/>
            7. $interpolateProvider<br/>
            8. $locationProvider<br/>
            9. $logProvider<br/>
            10.$parseProvider<br/>
            11.$rootScopeProvider<br/>
            12.$sceDelegateProvider<br/>
            13.$sceProvider<br/>
            14.$templateRequestProvider<br/>
            Reference: <a href="https://docs.angularjs.org/api/ng/provider" target="_blank">https://docs.angularjs.org/api/ng/provider</a>

       </div>  
       <div class="trainingDemos">
         <h3>Demos for Employee Trainings</h3>
         <a href="views/ProviderCreation.html">Provider and Service Creation</a><br/>
         <h5>Some Providers</h5>
         <a href="views/AnchorScroll.html">1. $anchorScrollProvider</a><br/>
         <a href="views/AnimateProvider.html">2. $animateProvider</a><br/>
         <a href="views/CompileProvider.html">3. $compileProvider</a>

       </div>

       <div class="trainingDemos">
         <h3>AngularJS Services</h3>
            1. $anchorScroll<br/>
            2. $animate<br/>
            3. $animateCss<br/>
            4. $cacheFactory<br/>
            5. $templateCache<br/>
            6. $compile<br/>
            7. $controller<br/>
            8. $document<br/>
            9. $http<br/>
            10.$exceptionHandler<br/>
            11.$filter<br/>
            12.$location<br/>
            13.$rootElement<br/>
            14.$window<br/>
            Reference: <a href="https://docs.angularjs.org/api/ng/service" target="_blank">https://docs.angularjs.org/api/ng/service</a>

       </div> 
    </div>

  </div>

  <style type="text/css">
      .welcome{
        margin-top: 15%;
      }

  </style>
 