<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="egghead" ng-controller="AppCtrl as app">

<a ng-click="app.goToAnchor(elm)" ng-repeat="elm in app.elms">{{elm}}</a>
<div id="{{elm}}" ng-style="app.createStyle($index)" ng-repeat="elm in app.elms">
    {{elm}}
</div>

<script src="//cdn.jsdelivr.net/tinycolor/0.9.16/tinycolor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="app.js"></script>

<script type="text/javascript">
	
	var app = angular.module("egghead", []);

app.config(function ($anchorScrollProvider) {
    $anchorScrollProvider.disableAutoScrolling();
});

app.controller("AppCtrl", function ($location, $anchorScroll) {
    var app = this;

    app.elms = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");

    //https://github.com/bgrins/TinyColor#color-combinations
    var colors = tinycolor.analogous("steelblue", app.elms.length, app.elms.length);

    app.goToAnchor = function (elm) {
        $location.hash(elm);
        //call when you when it scroll
        $anchorScroll();
    };

    app.createStyle = function (index) {
        var color = colors[index]; //grabs a tinycolor of the array
        return {
            backgroundColor: color.toHexString(),
            borderBottom: "3px solid black",
            height: "100px"
        };
    };

});
</script>

</body>
</html>